# Authentication
auth_info/
*.env
.env
config.env
session.json

# Logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# OS files
.DS_Store
Thumbs.db
